html {
    background-color: rgb(0, 41, 0);
    color: rgb(95, 57, 197)
}

h1 {
    text-align: center;
    font-size: 4.5rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(95, 57, 197);
    border-radius: 10%;
    background-color: rgb(70,0,0);
}

.site-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    
}

.site-list a {
    text-decoration: none;
    color: rgb(0, 202, 10);
}

footer {
    font-size: 2rem;
    margin-top: 20px;
    
}